*{
  transition: .25s ease-in-out;
}

.ham-n-cross {
  position: relative;
}

.hamburger-container:hover{
 background-color: #E8E8E8;
 box-shadow: 0px 0.313em 0.625em rgba(0,0,0, .5);
 cursor: pointer;
}

.hamburger-container{
  background-color: #ffffff;
  border-radius: 10%;
  width: 3.125em;
  height: 3.125em;
  box-shadow: 0px 0.313em 3.125em rgba(0,0,0,0);
}

.hamburger-container span{
  display:block;
  position: relative;
  background-color:#245888;
  border-radius:3px;
  top: 0.625em;
  width: 70%;
  height: 0.375em;
  margin-top: 0.313em;
  margin-right: auto;
  margin-left: auto;
  transition-delay: .25s;
}

.hamburger-container.open span{
  width: 0%;
}

.hamburger-container.open span:nth-child(1){
  transition-delay:0s;
}

.hamburger-container.open span:nth-child(2){
  transition-delay:.25s;
}

.hamburger-container.open span:nth-child(3){
  transition-delay:.5s;
}

.cross-container span{
  display:block;
  position: relative;
  background-color:#245888;
  border-radius:3px;
  top: -20px;
  height: 10px;
  margin-top: -10px;
}

.cross-container span:nth-child(1){
  transform: rotate(45deg);
  width: 0px;
}

.cross-container span:nth-child(2){
  transform: rotate(-45deg);
  width: 0px;
}

.cross-container.open span {
  width: 50px;
  transition-delay:.75s;
}
