@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

:root {
  --header-font: "Josefin Sans";
  --content-font: Raleway;
  --blue: #0968A1;
  --light-blue: #5BC0EB;
  --red: #D33B40;
  --white:  #ffffff;
  /*--saphire-blue: #0968A1;*/
  /*--cyan: #5BC0EB;*/
  /*--red: #D33B40;*/
  /*--indigo-dye: #1B4965;*/
  /*--white: #F7F9F9;*/
 }

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a::hover {
  cursor: pointer;
}

a.link {
  font-weight: bold;
  text-decoration: underline;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--blue);
}

.nameTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nameTag h1:hover {
  cursor: pointer;
}

.nameTag h1 {
  font-family: var(--header-font);
  font-weight: 300;
  color: #ffffff;
  font-size: 5em;
  margin: 0;
  text-align: center;
}

.nameTag h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.75em;
  font-family: var(--header-font);
  font-weight: 300;
  margin: 0;
  padding-top: 1.3em;
  text-align: center;
}

.menu-button {
  position: fixed;
  width: 100%;
  height: 3.75em;
  z-index: 2;
  top: 1.25em;
  left: 1.25em;
}

.page {
  height: 100%;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: var(--red);
  display: flex;
  text-align: center;
  flex-direction: column;
  transition: opacity 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
  justify-content: space-around;
  align-content: space-between;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.hoverDiv {
  margin-top: 3.125em;
  cursor: pointer;
}

.hoverDiv h2 {
  margin: 0;
  padding: 0.25em;
  color: #ffffff;
  font-family: var(--header-font);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  position: relative;
  display: inline;
  text-transform: uppercase;
  font-size: 3em;
}

.hoverDiv h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hoverDiv:hover > h2:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.about {
  background-color: #4D10AB;
  overflow: scroll;
}

.about h2 {
  margin: 0;
  padding: 0.625em;
  color: #ffffff;
  font-family: var(--header-font);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  position: relative;
  display: inline;
  text-transform: uppercase;
  font-size: 2.75em;
}

.about p {
  padding: 0.415em;
  color: #ffffff;
  font-family: var(--content-font);
  font-size: 1.5em;
  max-width: 40em;
  margin: 1em auto 0;
}

.resume {
  text-decoration: underline;
}

.work  {
  background-color: var(--light-blue);
  color: var(--white);
}

.work p {
  max-width: 80%;
  margin: 0 auto;
}

.work h2 {
  margin: 0;
  padding: 0.625em;
  color: #ffffff;
  font-family: var(--header-font);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  position: relative;
  display: inline;
  text-transform: uppercase;
  font-size: 2.75em;
}

.work h3 {
  margin: 0;
  padding: 0.42em;
  color: #ffffff;
  font-family: var(--header-font);
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
}

.hoverable {
  padding: 0;
}

.hoverable li{
  padding: 0.4em;
  display: inline;
  font-size: 1.85em;
  font-family: var(--header-font);
  position: relative;
  cursor: pointer;
}
.hoverable li span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hoverable li:hover > span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.workContent {
  margin-top: 3em;
}

.work p {
  padding: 0.4em;
  color: #ffffff;
  font-family: var(--content-font);
  font-size: 1.5em;
}

.contact {
  background-color: #0EA58A;
}
