@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #ffffff;
}

a::hover {
    cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 200px #000000;
  background-color: #02466D;
  height: 100%;
}

#particles-js {
    height: 100%:
    width: 100%;
}

.vertical_line {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 2;
  border-bottom: 1px solid rgba(247, 247, 255, 0.15);
  box-shadow: 10px -1px 10px rgba(0, 0, 0, 0.25);
}

.no_v_line {
  border-bottom: 0px solid rgba(247, 247, 255, 0);
  box-shadow: 10px -1px 10px rgba(0, 0, 0, 0);
}

.burger {
    position: relative;
    top: 24px;
    cursor: pointer;
}

.burger g {
    stroke: rgba(247, 247, 255, 0.65);
    transition: stroke 0.25s ease-in-out;    
}

.burger:hover g{
    stroke: rgba(247, 247, 255, 0.85);
}

.close {
    position: fixed;
    cursor: pointer;
    display:none;
}
.close::hover g{
    cursor: pointer;
}

.close g {
    stroke: rgba(247, 247, 255, 1);
    transition: stroke 0.25s ease-in-out;    
}

.close line {
    transform-origin: 0%;
}

.close g {
    transform: rotateZ(45deg);
    transform-origin: 50%;
}

.menu {
    height: 100%;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #FCB900;
    display: flex;
    text-align: center;
    opacity: 0;
    flex-direction: column;
    transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu div {
    padding: 50px 0;
    color: #fffff;
    font-family: Raleway;
    font-size: 24px;
    color: #ffffff;
    font-size: 50px;
    font-family: "Josefin Sans";
    transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    border: 0px solid black;
}

.borderAnimate {
    border: 0px solid black;
}


.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.bright {
  stroke: rgba(247, 247, 255, 1);
}


.nameTag {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   
   margin-top: -100px; /* Half the height */
   margin-left: -250px;
}
.nameTag h1 {
  font-family: "Josefin Sans";
  font-weight: 300;
  color: rgba(247, 247, 255, 0.75);
  font-size: 90px; 
  margin: 0;
  text-align: center;
  display: none;
}


.nameTag h3 {
  color: rgba(247, 247, 255, 0.85);
  font-size: 50px;
  font-family: "Josefin Sans";
  font-weight: 300;
  margin: 0;
  padding-top: 15px;
  text-align: center;
  display: none;
}

.page {
  width: 100%;
  height: 100%;
  color: rgba(247, 247, 255, 0.75);
  font-family: Bitter;
  margin: 0;
  padding: 0;

  

}

.page p {
  font-size: 33px;
  text-align: center;
}

